body {
	font-family: lobster;
	margin: 0;
    padding: 0;
    border: 0;
    color: #eae6e6;
	font-size: 2em;
	background: #191818;
}

.navbar-brand {
	font-size:1.7em;
}

hr {
	margin-left:20%;
	margin-right:20%;
	border: 1px solid #eae6e6;
}

h1 {
	font-size:4em;
}

h3 {
	font-size:2em;
}

.theme {
	
	left: -10px;
    top: -280px;
	position: fixed;
	color:#DDDDDD;
}


.banner {
		background-image: url("../image/banner.jpg");
		background-size: cover;
		margin: 0 -1%;
}

.quote{
		text-align: center;
		font-size: 4vw;
		padding-top: 10%;
		color: #1C166E;
}

.about {
	text-align: center;
}

.college {
	margin-bottom: -50px;
	filter:invert(100%);
}

.about2 {
	text-align: center;
}

.about > div > p {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.skills  {
	text-align: center;
}

.skills > div {
    display: inline-block;
    width: 100%;
    height: auto;
    padding: 50px 0;
    text-align: center;
}

.skillicon {
    transition: all 0.3s ease;
	padding: 30px;
	width: 300px;
	filter:invert(100%);
}
.skillicon:hover {
    transform: scale(1.2);
    transition-duration: 0.2s;
}

.work  {
	text-align: center;
}

.work > div {
    display: inline-block;
    width: 500px;
    height: auto;
	margin: 30px 30px;
    text-align: center;
    vertical-align: middle;
}


.worki {
  position: relative;
  width: 50%;
  box-shadow: 2px 4px 5px rgba(46,61,73,0.2);
}

.workimg {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: .95;
  transition: .5s ease;
  background-color: #AEB562;
  border-radius: 10px;
}

.worki:hover .overlay {
  opacity: .6;
  box-shadow: 10px 10px 25px rgba(46,61,73,0.7);
}

.text {
  font-size: 3em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
	position: relative;
	transform: translate(0%, +700%);
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: #666666;
}

.contact {
    text-align: center;
    background: linear-gradient(to top left, #DB3923, #AEB562);
	margin-top: 50px;
	margin-left: -1%;
	margin-right: -1%; 
    height: auto;
	color: #F6EFEA;
}



.contact > div {
    display: inline-block;
    width: 400px;
    height: auto;
    padding: 50px 0;
    text-align: center;
    vertical-align: middle;
}

.contact-icons{
	text-decoration: none;
    padding: 20px;
    color: #8B4E41;
	transition: all 0.3s ease;
}

.contact-icons:hover {
    color: #fff;
}

.top {
    text-align: center;
	left: 95%;
    top: 90%;
	position: fixed;

	display: none;
	
}

.topicon {
    transition: all 0.3s ease;
	
}
.topicon:hover {
    transform: scale(1.2);
    transition-duration: 0.2s;
}

.footer {
    height: 75px;
    background: #2f3241;
    text-align: center;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: #F6EFEA;
	margin: 0 -1%;
}